<div layout="vertical" layout-fill>

  <md-content flex layout-padding>

    <section class="jumbotron">
      <h1>VC Query Builder</h1>
      <h3>SQL Query: {{main.queryParsed}}</h3>
    </section>
    <form class="md-form" name="sqlQuery">
      <md-chips ui-droppable="true" ng-model="main.chips"
                ui-on-drop="main.chips.push($data)"
                placeholder="Type or Drag a tag"
                delete-button-label="Remove Tag"
                delete-hint="Press delete to remove tag"
                secondary-placeholder="Type or Drag a tag">

        <md-chip-template>
          <strong>{{$chip.display || $chip}}</strong>
        </md-chip-template>

      </md-chips>

      <md-button class="md-raised md-primary infinite" ng-click="main.submitQuery($event)">Submit query</md-button>
    </form>
    <div layout="row">
        <md-list>
          <md-subheader class="md-no-sticky">SQL Syntax</md-subheader>
        <ul>
          <li class="md-button" ui-draggable="true" drag="{'syntax': syntax}"
              ng-repeat="syntax in main.querySyntax track by $index">
            {{syntax}}
          </li>
        </ul>
        </md-list>
    </div>

    <div layout="row">
      <div flex="100">

        <form ng-submit="$event.preventDefault()">
          <md-autocomplete
              ng-disabled="false"
              md-no-cache="false"
              md-selected-item="main.selectedItem"
              md-search-text-change="main.searchTextChange(main.searchText)"
              md-search-text="main.searchText"
              md-selected-item-change="main.selectedItemChange(item)"
              md-items="item in main.fieldSearch(main.tableFields)"
              md-item-text="item"
              md-min-length="0"
              placeholder="Search for a table field">
            <md-item-template>
              <span md-highlight-text="main.searchText" md-highlight-flags="^i">{{item}}</span>
            </md-item-template>
            <md-not-found>
              No fields matching "{{main.searchText}}" were found.
              <a ng-click="main.newState(main.searchText)">Create a new one!</a>
            </md-not-found>
          </md-autocomplete>
        </form>

      </div>
    </div>

    <div layout="row">
      <md-list>
      <md-subheader class="md-no-sticky">Tables</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="table in main.tables">
        <div flex ng-repeat="(title, tableData) in table">
          <span ui-draggable="true" drag="{'table': title}" class="md-button">{{title}}</span>
          <ul>
            <li class="md-button" ui-draggable="true" drag="{'table-name': title, 'field': key}"
                ng-repeat="(key, value) in tableData">{{title}}.{{key}}
            </li>
          </ul>
        </div>
      </md-list-item>
      </md-list>
    </div>
    <div layout="row">

      <md-card ng-repeat="result in main.results">
        <md-card-content>
          <h2>{{result.bar}}</h2>

          <p>{{result.nifty}}</p>
        </md-card-content>
      </md-card>

    </div>
  </md-content>

</div>
